<!DOCTYPE html>
<html>

<head>
  <title>Users login</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <form action="users" method="POST" id="auth">
    First name:<br>
    <input type="text" name="name"><br>
    <select name="typeauth" form="auth">
      <option value="login">LogIn</option>
      <option value="signin">SignIn</option>
    </select>
    <input type="submit" value="Submit"><br>
  </form>
</body>

</html>